
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc


spot2/Lib/
spot2/Scripts/
env/
venv/
.venv/


*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/


*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

*.json

.vscode/

Thumbs.db
